version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: NginxBasicProject/Dockerfile
    container_name: nginxbasic_api
    expose:
      - "8080"
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    networks:
      - backend

networks:
  backend:
    driver: bridge
